df-input, widget {
  display: block;
}

df-field {
  display: block;
  height: 40px;
  width: 100%
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;

  df-label {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .form-widget {
    display: block;
    width: 80%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }


}

df-button {
   button{
    margin-top: 30px;
    width: 100%;
    display: block;
    height: auto;
    padding: 14px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  .lgreen {
    color: #fff;
    background-color: #23c25f;
  }
  .blue {
    color: #fff;
    background-color: #3e89c2;
  }
}
df-input {
  .symbol-text {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 20px;
    margin-top: -8px;
    color: #757b81;
    font-size: 14px;
  }
}

df-error {
  display: block;
  color: red;
  font: 14px / 1.2 'Lato', Helvetica, sans-serif;

  .errors {
    padding-left: 22%;
    padding-top: 33px;
    .error {
      padding-top: 5px;
    }
  }
}

@import 'mixins'

@import 'selectbox'
